@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    max-width: 1920px;
}

header {
    padding: 40px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

nav .logo img {
    height: 50px;
}

.logo-title {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

.logo-G {
    color: #FF42A5;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 30px;
}

nav li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.25rem;
    font-weight: 500;
}

.icons {
    padding: 10px 20px;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
}

.play-section {
    display: flex;
    justify-content: space-between;
}

.play-section-info {
    padding: 50px 150px 0px 240px;
    background: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);

}

.play-section-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.play-section-greeting {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-section-info li {
    list-style: none;


}

.play-section-info li a {
    text-decoration: none;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;

}

.btn-1 {
    border-radius: 48px;
    background: #FF42A5;
    padding: 20px 40px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-2 {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 20px 40px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

.play-img img {
    height: 100%;
    padding-right: 220px;
    background: #FFF;
}

.gamer-section {
    justify-content: space-between;
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-img img {
    width: 100%;
    padding: 20px 220px;
}

.gamer-section-info {
    text-align: right;
    padding: 20px 200px;
}

.gamer-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;

}

.gamer-description {
    color: #534C64;
    font-size: 1.15rem;
    font-weight: 400;
}

.purpose {
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 500;

}

.unleash {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}

.online-game-section {
    background: #FFF;

}

.online-game-info {
    text-align: center;
}

.online-game-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;

}

.funny-vedio {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-game-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 400;
}

.online-game-img {
    display: flex;
    padding-left: 150px;


}

.online-game-img img {
    width: 320px;
}

.play-game-section {
    background: #FFF;
    display: flex;
    padding: 20px 200px;
    justify-content: space-between;

}

.play-game-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.play {
    color: #F948B2;
}

.play-game-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 400;

}

.play-game-info {
    text-align: right;
    padding: 200px 200px 0px 250px;
    align-items: center;

}

.play-game-img {
    background: url('../images/Rectangle\ 55.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 550px;

}

.play-game-img img {
    padding-top: 460px;
    padding-right: 460px;


}

.content {
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    padding: 50px 280px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    gap: 5px;


}

.content-img img {
    height: 50%;
}

.content-img {
    display: flex;
    border-radius: 50px;
    background: #FFF;
    gap: 10px;
    padding: 0px 10px;
    align-items: center;


}

.content-title {
    color: #0B0223;
    font-size: rem;
    font-weight: 600;

}

.content-img-13 {
    gap: 10px;
    padding: 0px 10px;
    display: flex;
    border-radius: 50px;
    border: 1.5px solid var(--Linear, #FF42A5);
    background: #FFF;
    align-items: center;
}

.content-img-13 img {
    height: 50%;
}

.content-title-13 {
    color: #FF42A5;

}

footer {
    max-width: 1920px;
    background: #0B0223;
    padding: 50px 0px;

}

.logo {
    display: flex;
    justify-content: center;
}

.gamer {
    color: #FFF;
}

.text-content {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.text-title {
    color: #FFF;

    font-size: 1.25rem;

    font-weight: 600;

}

.icon-images {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

.footer-text {
    display: flex;
    color: rgba(255, 255, 255, 0.60);
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    gap: 50px;
    margin-top: 50px;
}

.copy-right {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}



/* mobile device responsive */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .play-section,
    .gamer-section,
    .online-game-img,
    .play-game-section {
        flex-direction: column;
    }

    nav>ul {
        flex-direction: column;
        gap: 20px;
        align-items: center;

    }

    .logo {
        margin: auto;
    }

    .play-section-info {
        padding: 20px;
    }

    .play-img img {
        width: 90%;
    }

    .gamer-img img {
        padding: 20px;
    }

    .gamer-section-info {
        padding: 20px;
        text-align: center;
    }

    .online-game-img {

        padding: 20px;
        align-items: center;
    }

    .play-game-info {
        padding: 20px;
        text-align: center;

    }

    .play-game-section {
        padding: 40px;
    }

    .play-game-img img {
        width: 150px;
        padding-top: 250px;
        padding-right: 250px;
        align-items: center;
    }

    .play-game-img {
        background-size: 330px;
    }

    .content {
        grid-template-columns: repeat(3, 1fr);
        display: grid;
        padding: 10px;
        margin-top: 10px;
    }

    .text-content {
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;

    }

    .icon-images {
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 50px;


    }
    .copy-right{
        padding: 100px;

    }
}